{% load static %}
{% include 'include/base.html'%}
        {% block extra_css %}
<title>{{object.title}}</title>
<meta name="description" content="{{ object.meta_description }}" />
<meta name="keyword" content="{{ object.meta_keyword }}" />
<meta property="og:title" content="{% if object.meta_title %}{{ object.meta_title }}{% endif %}" />
<meta property="og:description" content="{% if object.meta_description %}{{ object.meta_description }}{% endif %}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ object.banner_img.url }}" />
<meta property="og:image:width" content="1920" />
<meta property="og:image:height" content="1080" />
        {% endblock %}
          {% block content %}

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/"><img src="{% static '/images/logo.png' %}" style="height: 59px;width: 130px;" alt="Website Logo"></a>
	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="/#home-section" class="nav-link"><span>Home</span></a></li>
	          <li class="nav-item"><a href="/#about-section" class="nav-link"><span>About</span></a></li>
	          <li class="nav-item"><a href="/#resume-section" class="nav-link"><span>Resume</span></a></li>
	          <li class="nav-item"><a href="/#services-section" class="nav-link"><span>Services</span></a></li>
	          <li class="nav-item"><a href="/#skills-section" class="nav-link"><span>Skills</span></a></li>
	          <li class="nav-item"><a href="/#projects-section" class="nav-link"><span>Projects</span></a></li>
	          <li class="nav-item"><a href="/#blog-section" class="nav-link"><span>My Blog</span></a></li>
	          <li class="nav-item"><a href="/#contact-section" class="nav-link"><span>Contact</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
	  <section class="hero-wrap js-fullheight" style="background-image: url('{{object.banner_img.url}}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-12 ftco-animate pb-5 mb-3 text-center">
            <h1 class="mb-3 bread">{{object.title}}</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"> <i class="ion-ios-arrow-forward"></i></span> <span>{{object.title}} </span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
            {{object.content|safe}}
<!--            <div class="tag-widget post-tag-container mb-5 mt-5">-->
<!--              <div class="tagcloud">-->
<!--                <a href="#" class="tag-cloud-link">{{object.tags}}</a>-->
<!--&lt;!&ndash;                <a href="#" class="tag-cloud-link">Sport</a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#" class="tag-cloud-link">Tech</a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a href="#" class="tag-cloud-link">Travel</a>&ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->
            
            <div class="about-author d-flex p-4 bg-dark">
              <div class="bio mr-5">
                <img src="{{object.quote_image.url}}" alt="Quote Image" class="img-fluid" style="height: auto;">
              </div>
              <div class="desc">
                <h3>{{object.quote_title}}</h3>
                <p>{{object.quote_description|safe}}</p>
              </div>
            </div>


            <div class="pt-5 mt-5">
              <h3 class="mb-5">{{comments.count}} Comments</h3>
              <ul class="comment-list">
              {% for object in comments %}
                <li class="comment">
                  <div class="vcard bio">
                    <img src="{% static 'images/person_2.jpg' %}" alt="Comment Person Image">
                  </div>
                  <div class="comment-body">
                    <h3>{{object.name}}</h3>
                    <div class="meta">{{object.created_on}}</div>
                    <p>{{object.comment}}</p>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form method="post" action="{% url 'blog_inner1' object.slug %}" class="p-5 bg-dark">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                  </div>
                  <div class="form-group">
                    <label for="number">Phone *</label>
                    <input type="number" name="phone" class="form-control" id="Phone" required>
                  </div>

                  <div class="form-group">
                    <label for="message">Message *</label>
                    <textarea name="message" id="message" cols="5" rows="5" class="form-control" required></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
            </div>

          </div> <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar ftco-animate">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <div class="sidebar-box ftco-animate">
            	<h3 class="heading-sidebar">Categories</h3>
              <ul class="categories">
                {% for category in blog_category %}
                <li><a href="#">{{category.category_name}} <span>({{blog_category.count}})</span></a></li>
                {% endfor %}
<!--                <li><a href="#">Exterior Design <span>(22)</span></a></li>-->
<!--                <li><a href="#">Industrial Design <span>(37)</span></a></li>-->
<!--                <li><a href="#">Landscape Design <span>(42)</span></a></li>-->
              </ul>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Recent Blog</h3>
              {% for blog in blog_details %}
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url({{blog.icon.url}});"></a>
                <div class="text">
                  <h3 class="heading"><a href="/{{blog.slug}}">{{blog.title}}</a></h3>
                  <div class="meta">
                    <div><a href="/{{blog.slug}}"><span class="icon-calendar"></span> {{blog.created_on}}</a></div>
                    <div><a href="/{{blog.slug}}"><span class="icon-person"></span> {{blog.user}}</a></div>
<!--                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>-->
                  </div>
                </div>
              </div>
              {% endfor %}
<!--              <div class="block-21 mb-4 d-flex">-->
<!--                <a class="blog-img mr-4" style="background-image: url(images/image_2.jpg);"></a>-->
<!--                <div class="text">-->
<!--                  <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>-->
<!--                  <div class="meta">-->
<!--                    <div><a href="#"><span class="icon-calendar"></span> March 12, 2019</a></div>-->
<!--                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>-->
<!--                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="block-21 mb-4 d-flex">-->
<!--                <a class="blog-img mr-4" style="background-image: url(images/image_3.jpg);"></a>-->
<!--                <div class="text">-->
<!--                  <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>-->
<!--                  <div class="meta">-->
<!--                    <div><a href="#"><span class="icon-calendar"></span> March 12, 2019</a></div>-->
<!--                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>-->
<!--                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>

            <div class="sidebar-box ftco-animate">
              <h3 class="heading-sidebar">Tag Cloud</h3>
              <div class="tagcloud">
                {% for i in tag %}
                <a href="#" class="tag-cloud-link">{{i.name}}</a>
                {% endfor %}
<!--                <a href="#" class="tag-cloud-link">house</a>-->
<!--                <a href="#" class="tag-cloud-link">office</a>-->
<!--                <a href="#" class="tag-cloud-link">building</a>-->
<!--                <a href="#" class="tag-cloud-link">land</a>-->
<!--                <a href="#" class="tag-cloud-link">table</a>-->
<!--                <a href="#" class="tag-cloud-link">interior</a>-->
<!--                <a href="#" class="tag-cloud-link">exterior</a>-->
<!--                <a href="#" class="tag-cloud-link">industrial</a>-->
              </div>
            </div>

<!--            <div class="sidebar-box ftco-animate">-->
<!--              <h3 class="heading-sidebar">Paragraph</h3>-->
<!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>-->
<!--            </div>-->
          </div>

        </div>
      </div>
    </section> <!-- .section -->
		

    <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About</h2>
              <p>{{home_page.footer_title}}</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="{{home_page.twitter_link}}"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="{{home_page.facebook_link}}"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="{{home_page.instagram_link}}"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="/"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                <li><a href="/#about-section"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
                <li><a href="/#services-section"><span class="icon-long-arrow-right mr-2"></span>Services</a></li>
                <li><a href="/#projects-section"><span class="icon-long-arrow-right mr-2"></span>Projects</a></li>
                <li><a href="/#contact-section"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Services</h2>
              <ul class="list-unstyled">
                {% for i in services %}
                <li><a href="{{i.icon.url}}"><span class="icon-long-arrow-right mr-2"></span>{{i.title}}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">{{home_page.address}}</span></li>
	                <li><a href="{{home_page.phone}}"><span class="icon icon-phone"></span><span class="text">{{home_page.phone}}</span></a></li>
	                <li><a href="{{home_page.email}}"><span class="icon icon-envelope"></span><span class="text">&nbsp;{{home_page.email}}</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
        <script src="{% static 'js/scrollax.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/integration.js' %}"></script>
{% endblock %}